.header {
  background: #202020;
}

.header_landing {
  background: #073042;
}

.header_hidden {
  display: none;
}

.header__container {
  max-width: 1140px;
  padding: 18px 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 340px) {
  .header__container {
    padding: 18px 14px;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
  background: url(../../images/logo.svg) no-repeat;
  background-size: cover;
}

.header__nav-landing {
  display: flex;
  align-items: center;
  width: calc(100% - 82px);
}

.header__nav-landing_hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__nav-landing {
    display: none;
  }
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
}

.header__link:first-child {
  margin-right: 16px;
  font-weight: 500;
}

.header__link:nth-child(2) {
  font-weight: 400;
}

.header__link:last-child {
  position: relative;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  margin: 0 33px 0 auto;
}

.header__link:last-child::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background: #313131;
  background-image: url(../../images/account-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  top: -7px;
  margin-left: 7px;
}

.header__nav-main {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 340px) {
  .header__link-main {
    font-size: 10px;
    line-height: 16px;
  }
}

.header__nav-main_hidden {
  display: none;
}

.header__link-registration {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 340px) {
  .header__link-registration {
    margin-right: 14px;
  }
}

.header__link-signin {
  text-decoration: none;
  color: #000000;
  padding: 8px 20px;
  background: #3DDC84;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 340px) {
  .header__link-main {
    padding: 5px 12px;
  }
}